.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
	background: #fff;
	width: 60%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.closeButton {
	width: 100%;
	margin: 15px 0px 0px 0px;
	background: #014877;
	border: 2px solid #014877;
	padding: 10px 0px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.closeButton:hover {
	background: #fff;
	color: #014877;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
